
malware/winlog.exe
malware/winlog - Copy.exe
malware/Ragnar_locker_dumped_defanged
malware/Ragnar_locker_dumped
malware/new 2crypted.exe_qxezk8v4.tmp
malware/doc.exe
malware/brbbot.exe
malware/3q9w6K4.exe_g5l0rscj.tmp
/random/
/picky_analysis.7z
/random.7z
/picky-env/
